body {
    /* Typography */
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 400;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a   { text-decoration: none; }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

/* HEADER STYLE */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header 
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.page-header 
.nav-list {
    align-items: center;
    display: flex;
    width: 261px;
}

.page-header
.nav-list
.logo-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;

    width: 115px;
    margin-right: 76px;

    /* Typography */
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-header
.nav-list
.logo-header
.accent {
    color: #2e2f42;
}

.page-header 
.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.page-header 
.list-contact {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.page-header
.nav-list
.link {
    position: relative;
    font-weight: 500;    
    color: #2e2f42;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.page-header
.nav-list
.link:hover,
.page-header 
.nav-list 
.link:focus {
    color: #404bbf;
}

.page-header 
.nav-list 
.active {
    color: #404bbf;
}

.page-header 
.nav-list 
.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    position: absolute;
    color: #404bbf;
    left: 0;
    bottom: -1px;
}

.page-header 
.info-list {
    font-style: normal;
}

.page-header 
.info-list 
.info {
    text-decoration: none;
    color: #434455;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header 
.info-list 
.info:hover,
.page-header
.info-list 
.info:focus {
    color: #404bbf;
}
/* 
MAIN SECTION
SECTION HERO 
*/
.page-main
.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 188px 0;

    max-width: 1440px;
}

.page-main 
.section-hero 
.title {
    max-width: 496px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.page-main 
.section-hero 
.order-button {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    padding: 0;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    /* TYPOGRAPHY */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    background: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main 
.section-hero 
.order-button:hover,
.page-main 
.section-hero 
.order-button:focus {
    background-color: #404BBF;
}
/* 
SECTION TWO 
*/
.page-main
.section-one {
    padding: 120px 0;
}

.page-main 
.section-one 
.section-title {
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-one
.feature-list {
    width: 1128px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.section-one 
.feature-list
.feature
.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
}

.section-one 
.feature-list
.feature {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    flex-basis: calc((100% - 72px) / 4);
}

.page-main 
.section-one
.list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
/*
SECTION TEAM
*/
.page-main
.section-team {
    padding: 120px 0;
    background: #f4f4fd;
}

.page-main 
.section-team
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-main
.section-team
.team-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.page-main 
.section-team 
.section-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.page-main 
.section-team
.team-list 
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    flex-basis: calc((100% - 72px) / 4);

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.page-main
.section-team
.team-list
.team
.contain {
    padding: 32px 0;
}

.page-main 
.section-team 
.team-name {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.page-main 
.section-team 
.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.page-main 
.section-team
.team-list
.team
.contain
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.page-main 
.section-team
.team-list
.contain
.social-list
.social {
    width: 40px;
    height: 40px;
}

.page-main 
.section-team 
.team-list 
.contain 
.social-list
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main 
.section-team 
.team-list 
.social-list 
.social-link:hover, 
.page-main 
.section-team 
.team-list 
.social-list 
.social-link:focus {
    background-color: #404bbf;
}

.page-main 
.section-team
.team-list
.team 
.contain
.social-list 
.social-link 
.social-icon {
    fill: #f4f4fd;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
PORTFOLIO SECTION 
*/
.page-main 
.portfolio {
    padding: 120px 0 120px 0;
}

.page-main 
.portfolio 
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-main 
.portfolio 
.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.page-main 
.portfolio 
.port-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 72px;
}

.portfolio 
.port-box
.port-list {
    width: calc((100% - 48px) / 3);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio 
.port-box 
.port-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio 
.port-box 
.port-list 
.container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio 
.port-box 
.port-list
.overlook {
    position: relative;
    overflow: hidden;
}

.page-main 
.portfolio 
.port-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio 
.port-box 
.port-list 
.overlook 
.hidden-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio 
.port-box 
.port-list 
.overlook:hover 
.hidden-text {
    transform: translateY(0);
}

/* 
PAGE FOOTER 
*/
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer 
.container {
    display: flex;
    align-items: baseline;
}

.page-footer 
.container 
.logo-text {
    margin-right: 120px
}

.page-footer 
.container
.social
.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
}

.page-footer 
.container 
.social
.social-footer {
    display: flex;
    gap: 16px;
}

.page-footer 
.container 
.social 
.social-footer 
.social-link {
    width: 40px;
    height: 40px;
}

.page-footer .container .social .social-footer .social-link .link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .container .social .social-footer .social-link .link:hover, .page-footer .container .social .social-footer .social-link .link:focus {
    background-color: #31d0aa;
}

.page-footer .container .social .social-footer .social-link .link .icon {
    fill: #f4f4fd;
}

.page-footer
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-footer 
.logo-footer
.accent {
    color: #f4f4fd;
}

.page-footer 
.footer-text {
    max-width: 264px;
    color: #f4f4fd;
}